.header{
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background: #ff0100;
  display: flex;
  justify-content: space-around;
  border-radius: 5px 5px 0 0;
  i{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #fff;
  }
}