//公共部分
.iconfont {
  color: #fff;
}

html {
  font-size: 100px;
}

.detail {
  width: 100%;
  .header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: .45rem;
    line-height: .45rem;
    color: #fff;
    border-bottom: .01rem solid #5c462f;
    .back {
      margin-left: .11rem;
    }
    .musicName {
      margin: 0 auto;
      span {
        display: block;
        font-size: .12rem;
        height: .14rem;
        text-align: center;
      }
      .arrows {
        float: right;
        font-size: .12rem;
      }
    }
    .share {
      position: absolute;
      right: .11rem;
    }
  }
  .body {
    position: relative;
    top: 0;
    left: 0;
    background: #aaa;
    width: 100%;
    height: 4rem;
    .btn {
      position: absolute;
      left: 50%;
      margin: -1.6rem;
      bottom: 140px;
      width: 3.2rem;
      i {
        margin: .18rem;
        font-size: .22rem;
      }
      .icon-xin {
        color: #ff0100;
      }
    }
    .progress {
      position: absolute;
      left: 50%;
      margin: -1.6rem;
      bottom: 0;
      color: #fff;
      width: 3.2rem;
      span, div {
        display: inline-block;
        font-size: .14rem;
      }
      .already {
        position: absolute;
        left: 1rem;
        bottom: 0;
      }

      .run {
        position: absolute;
        left: 50%;
        margin: -1.5rem;
        width: 3rem;
        height: .02rem;
        background: #cfc7c1;
        vertical-align: middle;
        .runBtn {
          position: relative;
          left: .2rem;
          top: -.1rem;
          width: .1rem;
          height: .1rem;
          border-radius: 50%;
          background: #fff;
          .dot {
            position: absolute;
            left: .04rem;
            top: .04rem;
            width: .02rem;
            height: .02rem;
            background: red;
          }
        }
      }

    }
  }
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    background: #000;
    width: 100%;
    height: .72rem;
    line-height: .72rem;
    i {
      margin: .17rem;
      font-size: .28rem;
    }
  }
}