.friend-dynamic-comment {
overflow-x: hidden;
 /* .container-title {
    width: 100%;
    height: 35px;
    background: #dee7e6;
    span{
      font-size: 13px;
      color: #8d8d8e;
      font-family: Arial;
      line-height: 35px;
      padding-left: 2%;
      z-index: 10;
    }

  }*/
  .each-user {
    background: #fbfcfd;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    .click-to-userprofile {
      display: block;
      img {
       position: relative;
        top:0;
        left:0;
        height: 35px;
        width: 35px;
        border-radius: 50%;
      }
      .user-name {
        position: relative;
        display: block;
        top: -25px;
        right: -42px;
        color: gray;
        font-family: Arial;
       font-size: 14px;
        width: 150px;
        text-overflow:clip;

      }



    }
    .praisenumber-container{
      position: relative;
      top:-43px;
      left:255px;
      width: 80%;
      overflow: hidden;
      i{
        &:nth-child(2){
          margin-left:4px;
        }
        float: left;
        font-style: normal;
        font-family: Arial;
        color:#616162;
      }
    }
    .comment-content{
      color: black;
      font-family: Arial;
      font-size: 14px;
      margin-left: 12%;
      margin-top: -5%;
      border-bottom: 1px solid lightgrey;
      width: 300px;
      word-wrap: break-word;
    }

  }
}