.friend{
  .friendCenter{
    position: relative;
    display: flex;
    width: 230px;
    height: 28px;
    margin:6px 0;
    line-height: 28px;
    color: #fff;
    text-align: center;
    flex-direction: column;
  }
}