.home {
  .headerCenter {
    position: relative;
    display: flex;
    width: 230px;
    height: 28px;
    margin: 6px 0;
    line-height: 28px;
    border-radius: 15px;
    flex-direction: column;
    background: #fff;
    justify-content: center;
    i {
      position: absolute;
      left: 5px;
      top: 0;
      font-size: 25px;
      color: #c9c9c9;
    }
    input {
      position: absolute;
      left: 30px;
      top: 2px;
      outline: none;
      border: none;
      height: 26px;
      line-height: 28px;
      width: 185px;
      font-size: 14px;
    }
    input::-webkit-input-placeholder {
      color: #c9c9c9;
    }
  }
  .home-top {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #fff;
    z-index: 20;
    font-size: 18px;
    display: flex;
    a {
      -webkit-tap-highlight-color: transparent;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex: 1;
      color: #ababab;
      &.active {
        color: red;
        border-bottom: 1px solid red;
      }
      span {
        font-size: 11px;
      }
    }
  }
  .router {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 40px;
  }
  .home-music {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    overflow-y: auto;
    .home-swiper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      .dots{
        position: absolute;
        width: 100%;
        bottom: 20px;
        left: 0;
        text-align: center;
        span{
          display: inline-block;
          width: 8px;
          height: 8px;
          background: #dfdfdf;
          border-radius: 50%;
          margin: 5px;
          &.active{
            background: #51a7eb;
          }
        }
      }
      img {
        width: 100%;
      }
    }
    .home-list {
      position: absolute;
      left: 0;
      top: 150px;
      margin: 10px auto;
      height: 110px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      li {
        display: flex;
        margin: 10px;
        flex: 1;
        float: left;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 100%;

        a {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          text-align: center;
          line-height: 60px;
          border: 1px solid red;
          display: inline-block;
          &.active {
            color: red;
          }
          i {
            font-size: 20px;
          }
        }
        span {
          margin-top: 10px;
          font-size: 14px;
        }
      }
    }
    .home-recommend {
      position: absolute;
      top: 300px;
      left: 0;
      .list {
        i {
          position: absolute;
          left: 0;
          top: 0;
          font-size: 12px;
          line-height: 20px;
        }
        h4 {
          margin-left: 14px;
          font-size: 16px;
          font-weight: lighter;
        }
      }

      ul{
        width: 100%;
        li{
          float: left;
          width: 33%;
          height: 165px;
          margin: 10px 1px 10px 0;
          overflow: hidden;
          text-align: center;
          a{
            position: relative;
            width: 100%;
            height: 135px;
            display: block;
            img{
              width: 100%;
              height: 100%;
              display: block;
            }
            span{
              position: absolute;
              top: 5px;
              left: 50px;
              font-size: 5px;
              color: white;
            }
          }

          p{
            height: 30px;
            font-size: 14px;
            line-height: 15px;
            overflow: hidden;
            color: #2a2a2a;
          }
        }
      }

    }
    .home-unique{
      position: absolute;
      top: 680px;
      margin-top: 10px;
      .list {
        i {
          position: absolute;
          left: 0;
          top: 0;
          font-size: 12px;
          line-height: 20px;
        }
        h4 {
          margin-left: 14px;
          font-size: 16px;
          font-weight: lighter;
        }
      }
       ul{
         margin-top: 10px;
         width: 100%;
         li{
           margin-top: 10px;
           float: left;
           width: 49%;
           height: 165px;
           text-align: center;
           a{
             position: relative;
             width: 100%;
             height: 135px;
             display: block;
             img{
               width: 100%;
               height: 100%;
               display: block;
             }
             i{
               position: absolute;
               top: 5px;
               left: 10px;
               font-size: 5px;
               color: white;
             }
           }
           p{
             height: 30px;
             font-size: 14px;
             line-height: 15px;
             overflow: hidden;
             color: #2a2a2a;
           }
           &:nth-last-child(1){
             width: 100%;
           }
         }
       }
    }
    .home-new {
      position: absolute;
      top: 1080px;
      left: 0;
      .list {
        i {
          position: absolute;
          left: 0;
          top: 0;
          font-size: 12px;
          line-height: 20px;
        }
        h4 {
          margin-left: 14px;
          font-size: 16px;
          font-weight: lighter;
        }
      }

      ul{
        width: 100%;
        li{
          float: left;
          width: 33%;
          height: 165px;
          margin: 10px 1px 10px 0;
          overflow: hidden;
          text-align: center;
          a{
            position: relative;
            width: 100%;
            height: 135px;
            display: block;
            img{
              width: 100%;
              height: 100%;
              display: block;
            }
            //span{
            //  position: absolute;
            //  top: 5px;
            //  left: 50px;
            //  font-size: 5px;
            //  color: white;
            //}
          }

          p{
            height: 30px;
            font-size: 14px;
            line-height: 15px;
            overflow: hidden;
            color: #2a2a2a;
          }
        }
      }

    }
  }
}

