.home{
  .headerCenter{
    position: relative;
    display: flex;
    width: 230px;
    height: 28px;
    margin:6px 0;
    line-height: 28px;
    border-radius: 15px;
    flex-direction: column;
    background: #fff;
    justify-content: center;
    i{
      position: absolute;
      left: 5px;
      top: 0;
      font-size: 25px;
      color: #c9c9c9;
    }
    input{
      position: absolute;
      left: 30px;
      top: 2px;
      outline: none;
      border: none;
      height: 26px;
      line-height: 28px;
      width: 185px;
      font-size: 14px;
    }
    input::-webkit-input-placeholder{
      color: #c9c9c9;
    }
  }
  .home-top {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #fff;
    font-size: 18px;
    display: flex;
    a {
      -webkit-tap-highlight-color: transparent;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex: 1;
      color: #ababab;
      &.active {
        color: red;
        border-bottom: 1px solid red;
      }
      span {
        font-size: 11px;
      }
    }
  }
  .router {
    position: relative;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 40px;
  }
  .home-music {

    .home-swiper {
      position: relative;
    }
  }
}

