.number-login {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
  .numberLoginCenter {
    position: relative;
    width: 230px;
    height: 28px;
    margin: 6px 0;
    line-height: 28px;
    text-align: center;
    color: #fff;
  }
  .number-login-main {
    .util {
      width: 90%;
      margin: 0 auto;
      position: relative;
      input {
        display: block;
        width: 90%;
        height: 16px;
      }
    }
  }
}
.container{
  position: relative;
  margin: 0 auto;
  padding-top: 140px;
  .goback{
    position: absolute;
    left:5px;
    top: 10px;
  font-size: 20px;
  }
  .login-first{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: 20px;

  }
  .logo{
    margin: 0 auto 80px;
    width: 100px;
    height: 100px;
    img{
      background: greenyellow; //临时
      display: block;
      width: 100%;
      height:100%;
      border-radius: 30px;
    }
  }
  .btn{
    width: 100%;
    line-height: 40px;
    .login{
      width: 80%;
      height: 40px;
      background: #dfdfdf;
      border: 1px solid red;
      margin: 0 auto 15px;
      border-radius: 30px;
      text-align: center;
        a{
          color: red;
        }
    }

    .sign{
      width: 80%;
      height: 40px;
      margin: 0 auto 15px;
      background: #dfdfdf;
      border: 1px solid red;
      border-radius: 30px;
      text-align: center;
      color: red;
      a{
        color: red;
      }
    }
  }
}
