
.play-firend-dynamic-content-outer-container{

  /*固定的区域*/
  .play-firend-dynamic-content {
    position: fixed;
    width: 100%;
    height: 200px;
    z-index: 90;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
    .gobackbutton{
      color: white;
      font-size: 20px;
      position: relative;
      top: -198px;
      left: 6px;
    }

  }
  /*要滚动区域*/
  .play-content-and-loadmore-source {

   .content-mask{
   height:200px;
   width: 100%;
   background:transparent;
}

   .friend-profile-and-comment-and-more {
      position: relative;
      top: 0;
      left: 0;
      clear: both;
      background: white;
      overflow-x: hidden;
     border-bottom: 1px solid gainsboro;
      .friend-dynamic-user-profile-header {
        position: relative;
        left: 0;
        height: 45px;
        background: white;
        width: 98%;
        margin-right: 2%;
        margin-left: 2%;
        .userimg-in-play-content{
          display: block;
          img {
            display: block;
            background: green;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            height: 35px;
            width: 35px;
            border-radius: 50%;
          }
        }

        .username-in-play-content{
          display: block;
          span{
            display: block;
            font-size: 16px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 40px;
            color: black;
            font-family: Arial;
            font-weight: 300;

          }

        }

        .notice-me {
          display: block;
          position: absolute;
          top: 50%;
          right: 15px;
          transform: translateY(-50%);
          background: transparent;
          border: 1px solid lightgrey;
          height: 25px;
          width: 67px;
          border-radius: 25px;
          text-align: center;
          strong {
            font-weight: 400;
            font-size: 13px;
            font-family: Arial;
            position: absolute;
            top: 3px;
            left: 25px;
            letter-spacing: 3px;
            color: #ff0100;
            &:nth-child(1) {
              left: 9px;
            }
          }

        }

      }

      .movie-name {
          a{

          -webkit-user-select: none;
          font-family: Arial;
          font-size: 20px;
          font-weight: 300;
          color: black;

        }


      }

      .news-source {
        height: 35px;
        .news-time {
          width: 64%;
          height: 35px;
          padding-top: 10px;
          padding-bottom: 10px;
          display: flex;
          margin-left: 10px;
          span {
            display: flex;
            flex: 1;
            flex-direction: row;
            align-content: center;
            font-size: 13px;
            color: grey;
            font-family: Arial;

          }

        }
      }

      .news-type-container {
        width: 100%;
        clear: both;
        span {
          float: left;
          font-size: 13px;
          color: grey;
          height: 25px;
          font-family: Arial;
          border: 1px solid gainsboro;
          background: transparent;
          border-radius: 15px;
          text-align: center;
          line-height: 25px;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 5px;
          padding-bottom: 5px;
          &:nth-child(1) {
            margin-left: 10px;
            margin-right: 10px;
          }

        }
      }

      .about-news-footer {
        display: flex;
        height: 55px;
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100%;
        i {
          display: flex;
          flex: 1;
          flex-direction: column;
          align-content: center;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          color: grey;
          font-family: Arial;
        }
      }

    }

    /*.relative-recommend-title {
      height: 30px;
      width: 100%;
      background: #F4F4F4;
      color: #8d8d8e;
      font-size: 13px;
      line-height: 13px;
      font-family: Arial;
      span {
        position: relative;
        display: inline-block;
        top: 9px;
        left: 10px;
      }
      margin-right: 20px;

    }

    .relative-recommend-content {
      overflow-y: scroll;
      margin-left: 10px;
      border-bottom: 1px solid #F4F4F4;
      a{
        float: left;
      }
      .every-relative-recommend-content {
        height: 100px;
        width: 100%;
        .every-source-container{
          display: block;
          img {
            display: block;
            height: 100px;
            width: 100px;
          }
        }

        .every-title-and-mobile-type-container{

        }

      }



    }*/

  }

  /*最下面的输入框*/
  .input-comment {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 75px;
    width: 100%;
    z-index: 999;
    background: whitesmoke;
    border-top: 1px solid #cccccc;
    .input-content {
      position: relative;
      width: 90%;
      margin: 4% auto;
      height: 50%;
      .write-comment {
        position: absolute;
        top: 50%;
        height: 100%;
        transform: translateY(-50%);
        width: 70%;
        border-radius: 20px;
        left: 0;
        -webkit-user-select: none;
        -webkit-appearance: none;
        border: 1px solid gainsboro;
        outline: none;
        padding-left: 10px;
        font-size: 13px;
        font-family: Arial;
        color:black ;
      }
      .iconfont {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
        right: 0;
        color: #cccccc;
        font-size: 25px;
      }
    }
  }
}
